<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juniorsantos.barberapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.Singleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".remote.LoginFire"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".TelaMenu"
            android:label="@string/title_activity_tela_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TelaAgendamento"
            android:label="@string/title_activity_tela_agendamento"
            android:theme="@style/AppTheme" />
        <activity android:name=".TelaAgendar" />
        <activity android:name=".TelaBarbeiro" />
            android:name=".model.DetaillActivity"
            android:label="@string/title_activity_detaill"
            android:theme="@style/AppTheme" />
        <activity android:name=".TelaHorario" />
        <activity android:name=".remote.CadastroActivity" />
        <activity android:name=".remote.CadastroProdutos" />
        <activity android:name=".remote.ProdutosActivity"></activity>
        <activity android:name=".remote.ActivityPrincipal"></activity>
    </application>

</manifest>